# Gradle
.gradle/
build/
out/
bin/
*.log

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.tmp

# Minecraft
run/
libs/
*.jar
*.jar.md5
*.jar.sha1

# Fabric
src/main/resources/.mixin.out/
remappedSrc/
